﻿@{
    ViewBag.Title = "Home Page";
}

<style>


#wire-picker-form.js #wire-picker-show-more-button{
    display:block;
}

.show-more-button{
    width: 70%;
    background-color: transparent;
    color:#006998;
    border:none;
    padding-top:15px;
}


.primary-button{
    width:100%;
    background-color:#006998;
    color:white;
    border:none;
    font-size:14px;
    text-transform:none;
    font-weight:500;
    height:45px;
    display:inline-block;
    line-height:45px;

}

#wire-picker-form{
    float:left;
    box-sizing:border-box;
    width:50%;
    padding-left:15px;
    padding-right:15px;
}

#wire-picker-form .col-md-2{
    display:block;
    height:50px;
    box-sizing:border-box;
    border: 2px solid #006998;
    border-radius:4px;
    font-size:16px;
    font-weight:400;
    line-height:50px;
    color:#006998;
    background-color:white;
    border-color:#006998;
    width:90px;
    text-align:center;
    margin-right:15px;
    margin-bottom:15px;

}

#wire-picker-form .col-md-2 label{
    text-align:center;
}

#wire-picker-form .col-md-2 input{
    position:absolute;
    top:0;
    left:0;
    opacity:1;
}

</style>



    <body>
        <main id="wire-picker" class="container">
            <form method="post" id="wire-picker-form" class="js">
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" id="button-R-field" name="button-R" value="1" />
                        <label for="button-R-field">R</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-W-field" name="button-W" value="1" />
                        <label for="button-W-field">W</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-Y-field" name="button-Y" value="1" />
                        <label for="button-Y-field">Y</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-G-field" name="button-G" value="1" />
                        <label for="button-G-field">G</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" id="button-RH-field" name="button-RH" value="1" />
                        <label for="button-RH-field">RH</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-W1-field" name="button-W1" value="1" />
                        <label for="button-W1-field">W1</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-Y1-field" name="button-Y1" value="1" />
                        <label for="button-Y1-field">Y1</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-O-field" name="button-O" value="1" />
                        <label for="button-O-field">O</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" id="button-RC-field" name="button-RC" value="1" />
                        <label for="button-RC-field">RC</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-WE-field" name="button-WE" value="1" />
                        <label for="button-WE-field">W/E</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-Y2-field" name="button-Y2" value="1" />
                        <label for="button-Y2-field">Y2</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-B-field" name="button-B" value="1" />
                        <label for="button-B-field">B</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" id="button-C-field" name="button-C" value="1" />
                        <label for="button-C-field">C</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-W2-field" name="button-W2" value="1" />
                        <label for="button-W2-field">W2</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-L-field" name="button-L" value="1" />
                        <label for="button-L-field">L</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-OB-field" name="button-OB" value="1" />
                        <label for="button-OB-field">O/B</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" id="button-X-field" name="button-X" value="1" />
                        <label for="button-X-field">X</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-E-field" name="button-E" value="1" />
                        <label for="button-E-field">E</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-AUX-field" name="button-AUX" value="1" />
                        <label for="button-AUX-field">AUX</label>
                    </div>

                    <div class="col-md-2">
                        <input type="checkbox" id="button-A1-field" name="button-A1" value="1" />
                        <label for="button-A1-field">A1</label>
                    </div>
                </div>

                @* show more button *@
                <button id="wire-picker-show-more-button" class="show-more-button" type="button">
                    <span>Show more</span>
                </button>

                <div id="divMoreItems" hidden="hidden">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="button-S-field" name="button-S" value="1" />
                            <label for="button-S-field">S</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-S1-field" name="button-S1" value="1" />
                            <label for="button-S1-field">S1</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-S2-field" name="button-S2" value="1" />
                            <label for="button-S2-field">S2</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-H-field" name="button-H" value="1" />
                            <label for="button-H-field">H</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="button-H2-field" name="button-H2" value="1" />
                            <label for="button-H2-field">H2</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-HUM-field" name="button-HUM" value="1" />
                            <label for="button-HUM-field">HUM</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-HUM1-field" name="button-HUM1" value="1" />
                            <label for="button-HUM1-field">HUM1</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-HUM2-field" name="button-HUM2" value="1" />
                            <label for="button-HUM2-field">HUM2</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="button-D-field" name="button-D" value="1" />
                            <label for="button-D-field">D</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-DH-field" name="button-DH" value="1" />
                            <label for="button-DH-field">DH</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-DHUM-field" name="button-DHUM" value="1" />
                            <label for="button-DHUM-field">DHUM</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-DEHUM-field" name="button-DEHUM" value="1" />
                            <label for="button-DEHUM-field">DEHUM</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="button-D2-field" name="button-D2" value="1" />
                            <label for="button-D2-field">D2</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-DH2-field" name="button-DH2" value="1" />
                            <label for="button-DH2-field">DH2</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-DHUM2-field" name="button-DHUM2" value="1" />
                            <label for="button-DHUM2-field">DHUM2</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-ABC-field" name="button-ABC" value="1" />
                            <label for="button-ABC-field">A,B,C</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="button-12-field" name="button-12" value="1" />
                            <label for="button-12-field">1,2</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-123-field" name="button-123" value="1" />
                            <label for="button-123-field">1,2,3</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-star-field" name="button-star" value="1" />
                            <label for="button-star-field">*</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" id="button-other-field" name="button-other" value="1" />
                            <label for="button-other-field">Other</label>
                        </div>
                    </div>
                </div>

                <br />

                <input type="button" value="Check compatibility" class="primary-button" id="wire-picker-form-submit-button" />

            </form>
        </main>
    </body>

<script src="~/Scripts/Page/Home/Index.js"></script>